body {
  background-color: #e5e5e5;
  padding: 5px;
}
* {
  box-sizing: border-box;
}
.left {
  background-color:#2196F3;
  padding:20px;
  float:left;
  width:25%;
}

.main {
  padding-left:20px;
  float:left;
  width:70%;
  margin-bottom: 20px;
}

.border {
  border: 7px solid #e5e5e5;
  padding: 15px;
  border-radius: 10px;
  background-color:#fff;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  border: 1px solid #7aca7a;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #b7e4b7;
}
.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 2%;
}
.grid-item1 {
  padding: 5px;
}
.active {
  background-color: #13da13;
}
span{
  font-size: 14px;
}
.margin {
  margin-left: 30px;
}
.title {
  color: #283d75;
  font-size: 15px;
}
.bold {
  font-weight: bold;
  font-size: 15px;
}
.imgContainer{
  display: block;
  margin: 2px;
}
.flightDetails{
  display: block;
  margin: 15px;
}
img {
  display: block;
  background-color: #e5e5e5;
  width: 210px;
  height: 210px;
}
footer {
  text-align: center;
}

.card {
  padding: 1rem;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
  .left {
    width: 20%;
  }
}

@media screen and (max-width:620px) {
  .left, .main, .right {
    width:100%;
  }
  .border{
    margin-right: 5px;
  }
}

@media screen and (max-width:600px) {
  .left, .main, .right {
    width:100%;
  }
  .border{
    margin-right: 5px;
  }
  .cards {
    margin-left: -20px;
  }
  img {
    width: 300px;
    height: 270px;
  }
  .title, .bold {
    font-size: 20px;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .cards {
    margin-right: 20px;
  }
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  img {
    width: 270px;
    height: 270px;
  }
}
